In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
O_df = pd.read_csv('covid-vaccination-vs-death_ratio.csv', index_col = 'Unnamed: 0')
O_df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40374668.0,1.179866
3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40374668.0,1.187309
4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40374668.0,1.187809
...,...,...,...,...,...,...,...,...,...
32906,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,2,15229891.0,31.612715
32907,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,2,15229891.0,32.083237
32908,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,1,15229891.0,32.292726
32909,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,1,15229891.0,32.668868
32910,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924

In [3]:
df = O_df.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32911 entries, 0 to 32910
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  32911 non-null  object
 1   iso_code                 32911 non-null  object
 2   date                     32911 non-null  object
 3   total_vaccinations       32911 non-null  float64
 4   people_vaccinated        32911 non-null  float64
 5   people_fully_vaccinated  32911 non-null  float64
 6   New_deaths               32911 non-null  int64
 7   population               32911 non-null  float64
 8   ratio                    32911 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.5+ MB

In [5]:
df.describe(include = 'object')

                         country iso_code        date
count                      32911    32911       32911
unique                       197      197         472
top     United States of America      USA  2021-08-09
freq                         471      471         110

In [6]:
df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
count,3.291100e+04,3.291100e+04,3.291100e+04,32911.000000,3.291100e+04,32911.000000
mean,3.689489e+07,2.035846e+07,1.471013e+07,100.043116,5.164060e+07,41.971287
std,1.411509e+08,7.843235e+07,5.735093e+07,339.500099,1.645294e+08,28.970518
min,1.000000e+00,1.000000e+00,1.000000e+00,-2440.000000,1.373000e+03,0.000011
25%,7.289180e+05,4.571090e+05,2.313500e+05,1.000000,2.962425e+06,13.697569
50%,4.552479e+06,2.724528e+06,1.693674e+06,9.000000,1.034057e+07,41.530473
75%,2.065201e+07,1.158203e+07,7.907290e+06,49.000000,3.826123e+07,68.147335
max,3.243599e+09,1.275541e+09,1.240777e+09,11447.000000,1.447065e+09,124.737373

In [7]:
from datetime import datetime

df['date'] = pd.to_datetime(df.date,format = '%Y-%m-%d')
df['date'] = [date.strftime('%YW%W') for date in df.date]

In [8]:
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,Afghanistan,AFG,2021W19,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,Afghanistan,AFG,2021W20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,Afghanistan,AFG,2021W21,573277.0,476367.0,96910.0,10,40374668.0,1.179866
3,Afghanistan,AFG,2021W21,590454.0,479372.0,111082.0,19,40374668.0,1.187309
4,Afghanistan,AFG,2021W21,593313.0,479574.0,113739.0,14,40374668.0,1.187809
...,...,...,...,...,...,...,...,...,...
32906,Zimbabwe,ZWE,2022W12,8691642.0,4814582.0,3473523.0,2,15229891.0,31.612715
32907,Zimbabwe,ZWE,2022W12,8791728.0,4886242.0,3487962.0,2,15229891.0,32.083237
32908,Zimbabwe,ZWE,2022W12,8845039.0,4918147.0,3493763.0,1,15229891.0,32.292726
32909,Zimbabwe,ZWE,2022W13,8934360.0,4975433.0,3501493.0,1,15229891.0,32.668868
32910,Zimbabwe,ZWE,2022W13,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924

In [9]:
len(df.country.unique())

197

In [10]:
df = df.groupby(by = ['country', 'iso_code', 'date']).max().reset_index()

In [11]:
len(df.country.unique())

197

In [16]:
# Al haber agrupado cogiendo el máximo valor, el número de nuevas muertes no era el correcto.
# Por lo tanto, creo una lista para sustituir ese valor, por el correcto.

# Copio el dataset original, y agrupo el dataset sumando la columna de nuevas muertes.

deaths_df = O_df.copy()
deaths_df['date'] = pd.to_datetime(deaths_df.date,format = '%Y-%m-%d')
deaths_df['date'] = [date.strftime('%YW%W') for date in deaths_df.date]
deaths_df = deaths_df.groupby(by = ['country', 'iso_code', 'date'])['New_deaths'].sum().reset_index()
deaths_list = deaths_df['New_deaths']
df['New_deaths'] = deaths_list

In [18]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,Afghanistan,AFG,2021W19,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,Afghanistan,AFG,2021W20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,Afghanistan,AFG,2021W21,600152.0,480226.0,119926.0,63,40374668.0,1.189424
3,Afghanistan,AFG,2021W22,630305.0,481800.0,148505.0,61,40374668.0,1.193323
4,Afghanistan,AFG,2021W23,641295.0,482952.0,158343.0,64,40374668.0,1.196176

197